*{
    margin:0;
    padding: 0;
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}
ul{list-style: none;}
a{text-decoration: none;}


.logo a{
    width: 50px;
    height: 50px;
    float: left;
    background: url(../img/logosf.png) no-repeat;
    font-size: 0; /*esconder o texto*/
    background-size: contain;

}

.menu {
    width: 100%;
    float: left;
    background-color: white;
    padding: 15px 2%;
}

.menu li{
    float: right;
}

.menu li a{
    font-size: 120%;
    color: #333333;
    margin-right: 25px;
}

.menu li a:hover{
    color: #1e3ec9;
}

.principal{
    width: 100%;
    height: 100%;
    padding: 5px 30%;
    background-color: #bab9b5;
}

.rodape{
    background-color: #1e3ec9;
    float: left;
    padding: 10px 8%;
    bottom:0;
    width:100%;
}
.social-icons{
    float: right;

}
.social-icons a{
    float: right;
    margin-left: 10px;
    color: white;
}




